# Config
NODE_ENV=production

# Security
SESSION_SECRET=przykladowy_klucz123!
ADMIN_USER=user
ADMIN_HASH_B64=JDJiJDEwJEhqRlRVcVdRZ2cxVHVXNkU5L2hzZk9JM1BaYWRHUFU1UVpsZ2lsd1dtMGVaTXlVZjNxQjhp # zahashowane hasło: haslo123
